// app global css in SCSS form

/************************************************************************ 颜色 ********************************************************************/


// Light Mode
.itemlist {

	.vaultCard {
		border-radius: 12px;
		margin: 16px;

		&:hover {
			background: $background-hover;
		}
	}

	.vaultCardActive {
		background: $background-selected;
	}
}

.itemView {
	.hearder-input {
		.text {
			color: #212322;
		}
	}

	.tagSelect {
		.tagChip {
			border: 1px solid #212322;
		}
	}

	.listRow {
		border-bottom: 1px solid $separator;
	}

	.footer {

		.reset {
			background: #ffffff;
			color: #4d4742;
		}
	}
}

.d-creatVault {
	.item {
		border: 1px solid #ececec;
	}

	.activeItem {
		border: 1px solid $blue;
		background-color: rgba(255, 235, 59, 0.1);
	}

	.but-cancel {
		background: $grey-11;
		color: #7a7a7a;
	}
}

.filedMenu {

	.menuItem {
		height: 32px;
		padding: 0 4px;
		border-radius: 4px;
		margin: 2px 0;
	}
}

//确定保留css
.bg-color-yellow {
	background-color: $yellow;
}

.border-color-yellow {
	border-color: $yellow  !important;
}

.text-color-title {
	color: $title;
}

.bg-color-dark {
	background: $title;
}

.text-color-sub-title {
	color: $sub-title;
}

.bg-color-sub-title {
	background-color: $sub-title;
}

.text-color-white {
	color: #ffffff;
}

.bg-color-white {
	background-color: #ffffff;
}

.bg-grey-11-hover {
	&:hover {
		background-color: #f5f5f5;
	}
}

.titleBg {
	background: $grey-11;
}

.avatar-circle {
	border-radius: 50%;
	overflow: hidden;
}

.card-mobile {
	width: 80%;
}

.card-others {
	width: 450px;
}

.bg-blue-1-hover {
	border-left: 2px solid $blue-1;

	&:hover {
		border-left: 2px solid $blue-1;
		background-color: $blue-1;
		opacity: 1;
	}
}

body.qrscanner {
	background-color: transparent;
}
