.q-drawer {
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid #f1f1f1;
}

.files-content {
	width: calc(100% - 4px) !important;
	border-radius: 0 0 12px 12px;
	margin-left: 4px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
}

.transfer-table {
	border-radius: 0 0 12px 12px;
	margin-left: 4px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
}

.layoutHeader {
	margin-left: 4px;
	border-radius: 12px 12px 0 0;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	overflow: hidden;
}

.menu-active {
	/* height: 600px !important; */
	padding-bottom: 42px !important;
}

.separator-class {
	width: 4px !important;
	background: rgba(254, 251, 228, 0.9) !important;
}

.before-class,
.after-class {
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid #f1f1f1;
}

.dash-itemlist {
	border-radius: 20px;
}
