#listing {
	height: calc(100% - 100px);
	--item-selected: white;
	/* background-color: #fffefb; */
	overflow: scroll;
}

body.rtl #listing {
	margin-right: 16em;
}

#listing h2 {
	margin: 0 0 0 0.5em;
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.38);
	font-weight: 500;
}

#listing > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#listing .mobile-item {
	background-color: #fff;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	color: #6f6f6f;
	transition: 0.1s ease background, 0.1s ease opacity;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#listing .mobile-item div:last-of-type {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#listing .mobile-item p {
	margin: 0;
}

#listing .mobile-item .size {
	font-size: 10px;
}
#listing .mobile-item .modified {
	/* font-size: 0.9em; */
	font-size: 10px;
	/* margin-left: 30px; */
}

#listing .mobile-item .name {
	font-weight: bold;
}

#listing .mobile-item i {
	font-size: 4em;
	margin-right: 0.1em;
	vertical-align: bottom;
}

#listing .mobile-item img {
	width: 5.625em;
	height: 5.625em;
	object-fit: cover;
	margin-right: 0.1em;
	vertical-align: bottom;
}

#listing.mosaic {
	padding-top: 1em;
	/* margin: 0 -0.5em; */
	/* padding-left: 2rem; */
	/* padding-right: 2rem; */
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)); */
	/* flex-wrap: wrap;
	justify-content: space-between; */
	/* flex-direction: row; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

#listing.mosaic .mobile-item {
	/* width: 33%; */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 0;

	/* background-color: red; */
	/* padding: 0.5rem 0; */
	/* padding: 1.25em; */
	border-radius: 0.2em;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	/* background-color: red; */
  padding-left: 10px;
  padding-right: 10px;
}

#listing.mosaic .mobile-item:hover {
	/* background: #f6f4f0; */
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .1) !important; */
}

#listing.mosaic .header {
	display: none;
}

#listing.mosaic .mobile-item div:first-of-type {
	width: 5.625em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#listing.mosaic .mobile-item div:last-of-type {
	width: 100%;
	text-align: center;
}

#listing.mosaic.gallery .mobile-item div:first-of-type {
	width: 100%;
	height: 12em;
}

#listing.mosaic.gallery .mobile-item div:last-of-type {
	position: absolute;
	bottom: 0.5em;
	padding: 1em;
	width: calc(100% - 1em);
	text-align: center;
}

#listing.mosaic.gallery .mobile-item[data-type='image'] div:last-of-type {
	color: white;
	background: linear-gradient(#0000, #0009);
}

#listing.mosaic.gallery .mobile-item i {
	width: 100%;
	margin-right: 0;
	font-size: 8em;
	text-align: center;
}

#listing.mosaic.gallery .mobile-item img {
	width: 100%;
	height: 100%;
}

#listing.mosaic .mobile-item img {
	/* width: 100%;
	height: 100%; */
	margin-top: 1.6em;
	/* background-color: red; */
}

#listing.gallery .size,
#listing.gallery .modified {
	display: none;
}

#listing.list {
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	margin: 0;
	/* background-color: red; */
}

#listing.list .mobile-item {
	width: 100%;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* padding: 1em; */
	border-top: 0;
	/* padding-left: 36px; */
	height: 72px;
	line-height: 16px;
}

#listing.list h2 {
	display: none;
}

#listing .mobile-item[aria-selected='true'] {
	/* background: var(--blue) !important;
  color: var(--item-selected) !important; */
	/* background: #f6f4f0; */

	/* box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) !important; */
}

#listing.list .mobile-item div:first-of-type {
	/* width: 3em; */
	/* height: 72px; */
}

#listing.list .mobile-item div:first-of-type i {
	/* font-size: 2em; */
}

#listing.list .mobile-item div:first-of-type img {
	width: 2em;
	height: 2em;
}

#listing.list .mobile-item div:last-of-type {
	/* width: 100%; */
	/* display: flex;
  align-items: center; */
}

#listing.list .mobile-item .name {
	/* float: left; */
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* background-color: red; */
}

#listing.list .mobile-item .size {
	width: 100px;
	float: right;
}

#listing.list .mobile-item .type {
	width: 100px;
	float: right;
}

#listing.list .mobile-item .modified {
	/* width: 120px; */
	/* float: right; */
}

#listing .mobile-item.header {
	display: none !important;
	background-color: #ccc;
}

#listing.list .header i {
	font-size: 1.5em;
	vertical-align: middle;
	margin-left: 0.2em;
}

#listing.list .mobile-item.header {
	display: flex !important;
	background: #fff;
	z-index: 999;
	/* padding: .85em 2rem; */
	border: 0;
	height: 32px;
	width: 100%;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

#listing.list .mobile-item.header > div:first-child {
	/* width: 0; */
}

#listing.list .mobile-item.header .name {
	margin-right: 3em;
}

#listing.list .header a {
	color: inherit;
}

#listing.list .mobile-item.header > div:first-child {
	/* width: 0; */
}

#listing.list .name {
	font-weight: normal;
}

#listing.list .mobile-item.header .name {
	margin-right: 3em;
}

#listing.list .header span {
	vertical-align: middle;
}

#listing.list .header i {
	opacity: 0;
	transition: 0.1s ease all;
}

#listing.list .header p:hover i,
#listing.list .header .active i {
	opacity: 1;
}

#listing.list .mobile-item.header .active {
	font-weight: bold;
}

#listing #multiple-selection {
	position: fixed;
	bottom: -4em;
	left: 0;
	z-index: 99999;
	width: 100%;
	background-color: var(--blue);
	height: 4em;
	padding: 0.5em 0.5em 0.5em 1em;
	justify-content: space-between;
	transition: 0.2s ease bottom;
}

#listing #multiple-selection.active {
	bottom: 0;
}

#listing #multiple-selection p,
#listing #multiple-selection i {
	color: var(--item-selected);
}
