// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// @import '@bytetrade/ui/lib/styles/quasar.scss';
@import './quasar-bex.sass';
@import '@bytetrade/ui/lib/styles/quasar.popup.scss';
@import '@bytetrade/ui/lib/styles/quasar.btn.scss';

.q-ripple {
	display: none !important;
}

$title: #1f1814;
$sub-title: #5c5551;
$label: #b2b0af;
$prompt-message: #b2b0af;
$background: white;
$desktop-background: $grey-1;
$white: white;