@-webkit-keyframes vaultill {
	0% {
		-webkit-transform: scale(1, 1);
	}

	50% {
		-webkit-transform: scale(1.2, 1.2);
	}

	100% {
		-webkit-transform: scale(1, 1);
	}
}

@-moz-keyframes vaultfill {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2, 1.2);
	}

	100% {
		transform: scale(1, 1);
	}
}

span[data-bwautofill].com-vault-browser-animated-fill {
	display: inline-block;
}

.com-vault-browser-animated-fill {
	animation: vaultill 200ms ease-in-out 0ms 1;
	-webkit-animation: vaultill 200ms ease-in-out 0ms 1;
}
