.DS_Store
.thumbs.db
node_modules
.eslintcache
packages/*/node_modules
packages/*/docs
packages/core/lib
packages/billing/lib
packages/app/dist
packages/app/test/dist
packages/app/sw.js
packages/app/env.js
packages/server/db
packages/cordova/platforms
packages/cordova/plugins
packages/cordova/www
packages/cordova/dist
packages/electron/build
packages/electron/app
packages/electron/dist
/.env
packages/pwa/dist
packages/server/logs
packages/server/data
packages/server/attachments
packages/server/dist
/logs
/pwa
/data
packages/extension/dist
packages/tauri/dist
packages/tauri/src-tauri/icons
packages/tauri/tauri-update.json
.flatpak-builder
packages/admin/dist

# Quasar core related directories
packages/*/.quasar
packages/*/dist

# Cordova related directories and files
packages/*/src-cordova/node_modules
packages/*/src-cordova/platforms
packages/*/src-cordova/plugins
packages/*/src-cordova/www

# Capacitor related directories and files
packages/*/src-capacitor/www
packages/*/src-capacitor/node_modules

# BEX related directories and files
packages/*/src-bex/www
packages/*/src-bex/js/core

# Log files
packages/*npm-debug.log*
packages/*yarn-debug.log*
packages/*yarn-error.log*

# Editor directories and files
packages/*.idea
packages/**.suo
packages/**.ntvs*
packages/**.njsproj
packages/**.sln
packages/sign/data
packages/sign/dist
packages/mockbfl/data
packages/sign2/
packages/sign2/data
packages/sign2/dist
packages/sign2/tsconfig.build.tsbuildinfo

packages/server2
packages/mockbfl2
packages/app/src-capacitor/android/app/keystore.properties
packages/app/src-capacitor/android/app/TerminusKey
packages/app/macAddonSDK/TermiPassMac/TermiPassMac.xcodeproj/project.xcworkspace/xcuserdata/gjm.xcuserdatad/UserInterfaceState.xcuserstate
packages/app/build/mac/PlanetaMacDev.provisionprofile
packages/app/build/mac/notarize.js