.wizard-content {
	padding-top: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		font-size: map-get($map: $h6, $key: size);
		font-weight: map-get($map: $h6, $key: weight);
		line-height: map-get($map: $h6, $key: line-height);
		letter-spacing: map-get($map: $h6, $key: letter-spacing);

		text-align: center;

		margin-top: 20px;
		letter-spacing: 0.02em;
		color: $title;
		margin-top: 20px;
	}

	&__detail {
		font-size: map-get($map: $body3, $key: size);
		font-weight: map-get($map: $body3, $key: weight);
		line-height: map-get($map: $body3, $key: line-height);
		letter-spacing: map-get($map: $body3, $key: letter-spacing);

		text-align: center;
		color: $sub-title;
		margin-top: 8px;
		max-width: 300px;

		a {
			color: $blue;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	&__image {
		width: 124px;
		height: 124px;
	}

	&__retry {
		height: 32px;
		width: 96px;
		margin-top: 20px;

		&__btn {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			text-align: center;
			text-transform: capitalize;
			background-color: $yellow;

			font-size: map-get($map: $body3, $key: size);
			font-weight: map-get($map: $body3, $key: weight);
			line-height: map-get($map: $body3, $key: line-height);
			letter-spacing: map-get($map: $body3, $key: letter-spacing);
		}
	}
}
